<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <style>
        #loginBox{

        }
        .button{

        }
    </style>
    </head>
    <body>
        <main>
            <div id= "loginBox">
                <form>
                    <input name="username" type="text" minlength="3" placeholder="Username" required>
                    <input name="password" type="password"  placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
                    <input type= "submit" class="button" value="Login" required>
                </form>
            </div>
        </main>
    </body>
</html>