<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <style>
        #loginBox{

        }
        .button{

        }
    </style>
    </head>
    <body>
        <main>
            <div id= "loginBox">
                <input>
                <label for="username">Username</label>
                <input>
                <label for="password">Password</label>
                <button></button>
            </div>
        </main>
    </body>
</html>